@model BargeSurvey.Models.BargeSample


<div style="float:left; border:thin solid; margin:5px; padding:5px;">
   
    <div  data-mini="false" style="margin-right:5px;">
        <div class="ui-grid-b">
            <div class="ui-block-a">
                @Html.LabelFor(model => model.RiverCondition)
            </div>
            <div class="ui=block-b">
                <h3>@Html.DisplayFor(model => model.RiverCondition)</h3>
            </div>

            <div class="ui-block-a">
                @Html.LabelFor(model => model.BargeType)
            </div>
            <div class="ui=block-b">
                <h3>@Html.DisplayFor(model => model.BargeType)</h3>
            </div>

            <div class="ui-block-a">
                @Html.LabelFor(model => model.LoadedPrior)
            </div>
            <div class="ui=block-b">
                <h3>@Html.DisplayFor(model => model.LoadedPrior)</h3>
            </div>

            <div class="ui-block-a">
                @Html.LabelFor(model => model.PumpedAfterLight)
            </div>
            <div class="ui=block-b">
                <h3>@Html.DisplayFor(model => model.PumpedAfterLight)</h3>
            </div>
        </div>
        
        

        <div class="ui-block-a" data-mini="true">

            <div class="ui-grid-solo" >
                <div class="portReading">@Html.DisplayFor(model => model.ReadingP1)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="portReading">@Html.DisplayFor(model => model.ReadingP2)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="portReading">@Html.DisplayFor(model => model.ReadingP3)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="portReading">@Html.DisplayFor(model => model.ReadingP4)</div>
            </div>
        </div>

        <div class="ui-block-b" data-mini="true">
            <div class="ui-grid-solo" >
                <div class="starboardReading">@Html.DisplayFor(model => model.ReadingS1)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="starboardReading">@Html.DisplayFor(model => model.ReadingS2)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="starboardReading">@Html.DisplayFor(model => model.ReadingS3)</div>
            </div>
            <div class="ui-grid-solo" >
                <div class="starboardReading">@Html.DisplayFor(model => model.ReadingS4)</div>
            </div>           

        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", "BargeSample", new { sampleID = Model.Id }, null) |
        @Html.ActionLink("Delete", "Delete", "BargeSample", new { id = Model.Id }, null)
    </p>
</div>