@model BargeSurvey.Models.Draft

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Draft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DraftType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingP1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingP1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingP2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingP3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingP3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingP4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingP4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingS2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingS2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingS3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingS3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingS4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingS4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BargeSampleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BargeSampleId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
