@model IEnumerable<BargeSurvey.Models.Survey>

@{
    ViewBag.Title = BargeSurvey.Resource1.Title_Survey_Page;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


        @foreach (var item in Model)
        {
            <div data-role="collapsible-set">
                <div data-role="collapsible">
                    <h3>@string.Format("{0} - {1} - {2} Barges {3}", item.Customer, item.Terminal, item.SurveyDate.Value.ToString(@"MM/dd/yyyy"), item.BargeSamples.Count)</h3>
                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.Customer)
                        </div>
                        <div class="ui-block-b">
                            @Html.DisplayFor(modelItem => item.Customer)
                        </div>
                    </div>
                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.Terminal)
                        </div>
                        <div class="ui-block-b">
                            @Html.DisplayFor(modelItem => item.Terminal)
                        </div>
                    </div>
                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.SurveyDate)
                        </div>
                        <div class="ui-block-b">
                            @string.Format("{0}", item.SurveyDate.Value.ToString(@"MM/dd/yyyy"))
                        </div>
                    </div>

                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.SamplerName)
                        </div>
                        <div class="ui-block-b">
                            @Html.DisplayFor(modelItem => item.SamplerName)
                        </div>
                    </div>

                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.City)
                        </div>
                        <div class="ui-block-b">
                            @Html.DisplayFor(modelItem => item.City)
                        </div>
                    </div>

                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            @Html.LabelFor(modelItem => item.State)
                        </div>
                        <div class="ui-block-b">
                            @Html.DisplayFor(modelItem => item.State)
                        </div>
                    </div>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_inline = "true", data_role = "button", data_mini = "true" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { data_inline = "true", data_role = "button", data_mini = "true" })|
                    @Html.ActionLink("Add Sample", "Create", "BargeSample", new { surveyId = item.Id }, htmlAttributes: new { data_inline = "true", data_role = "button", data_mini = "true" })


                    <div data-role="collapsible" data-mini="true">
                        <h2>@string.Format("{0}  Count:{1}", "Barge Samples", item.BargeSamples.Count)</h2>

                     
                        @if (item.BargeSamples.Count > 0)
                        {
                            foreach (var s in item.BargeSamples)
                            {
                                @Html.Partial("_BargeSample", s)
                            }
                        }
                    </div><!-- /grid-a -->

                </div>
            </div>
}

